<div class="container">
    <div class="title">
        <h1 *ngIf="orchids">Learn more about orchids</h1>
        <h1 *ngIf="isEmpty">NO ORCHIDS ADDED!</h1>
        <h1 *ngIf="!orchids">Loading...</h1>
    </div>
    <section *ngIf="orchids">
        <ng-container *ngFor="let orchids of orchids | paginate: { itemsPerPage: 10, currentPage: p }" >
            <article>
                <ng-container *ngIf="orchids?.imageUrl">
                    <div class="image" *ngIf="orchids.imageUrl"> 
                        <img src={{orchids.imageUrl}} class="uploadedImage" alt="no-img">
                        <!-- <img *ngIf="!orchids.imageUrl.includes('res.cloudinary.com')" src={{orchids.imageUrl}} alt="no-img"> -->
                    </div>
                </ng-container>
                <!-- <ng-container *ngIf="!orchids?.imageUrl?.includes('http')">
                    <div class="image" *ngIf="orchids.orchidsImages[0].imageUrl.includes('http')"> 
                        <img *ngIf="orchids.orchidsImages[0]?.imageUrl.includes('res.cloudinary.com')" src={{orchids.orchidsImages[0].imageUrl}} class="uploadedImage" alt="no-img">
                        <img *ngIf="!orchids.orchidsImages[0].imageUrl.includes('res.cloudinary.com')" src={{orchids.orchidsImages[0]}} alt="no-img">
                    </div>
                </ng-container> -->
                <div class="info">
                    <h1>{{orchids.name}}</h1>
                    <button [routerLink]="['/orchids', orchids._id]">Details</button>
                </div>
            </article>
            
        </ng-container>
    </section>
    <div class="lds-ellipsis" *ngIf="!orchids">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="pagination" *ngIf="orchids && orchidsLength > 10">
        <pagination-controls class="paginator" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>