.container{
    background-color: #474E68; 
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    height: calc(100vh - 5.4rem);
}
.form {
    border: 2px solid rgb(32, 32, 32);
    border-radius: 1.2rem;
    position: relative;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: rgb(32, 32, 32);
    width: 360px;
    /* height: 600px; */
    color: white;
    box-shadow: 15px 15px 25px rgb(32, 32, 32);
}

h1 {
    margin-top: 0.7rem;
    text-align: center;
    /* font-weight: bold; */
}

.formTitle {
    display: flex;
    margin-top: 10px;
    margin-bottom: 2.5px;
    font-size: 1.1rem;
    padding-left: 0.7rem;
}
.formInput {
    width: 20rem;
    height: 1.9rem;
    padding-left: 12px;
    border: none;
    border: 1px solid gray;
    border-radius: 8px;
    margin-left: 0.5rem;
}
.imageurl {
    font-size: 1.1rem;
    padding-left: 12px;
    margin-top: 10px;
    margin-bottom: 2.5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#upload {
    margin-left: 20px;
}
input[type="submit"] {
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    height: 2rem;
    margin-top: 40px;
    border: none;
    background-color: #e20404;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
input[type="submit"]:hover:enabled {
    background-color: #fd0000;
    opacity: 0.5;
}
/* .error { 
    color: red;
    font-weight: bold;
    font-style: italic;
    padding-left: 1rem;
    top: 10px;
} */
p.error {
    text-align: left;
    color: red;
    padding-left: 10px;
    font-size: 0.9rem;
    font-weight: bold;
}
.mainError {
    text-align: center;
    color: red;
    /* padding-left: 10px; */
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: bold;
}
input:disabled {
    border: 1px solid #999999;
  background-color: #cccccc;
  /* color: #666666; */
}
input[type="radio"] {
    height: 20px;
    margin-left: 10px;
}
.hidden {
    display: none;
}
#file {
    display: none;
    font-size: 1rem;
    padding-left: 12px;
    font-weight: bold;
}
@media only screen and (max-width: 930px) {
    .form {
        left: 50%;
    }
    .form h1 {
        font-size: 1.5rem;
    }
    .form label{ 
        font-size: 1rem;
    }
}
@media only screen and (max-width: 480px) {
    .container { 
    height: 100vh;
    width: 100%;
    }
    .form {
        width: 90%;
    }
    .formInput {
        width: 90%;
    }
}
@media only screen and (max-width: 777px) {
    .container { 
    height: calc(100vh - 6.4rem);
    }
}