<div class="container">
    <div class="title">
        <h1>{{currUser?.username}}'s Profile Page</h1>
    </div>
    <section class="profile">
        <article class="user">
            <div class="userSchema" *ngIf="currUser">
                <img [src]="currUser.avatarImg" class="avatarImg" alt="no-avatar">
                <div class="text">
                    <h3>Username: <span>{{currUser?.username}}</span></h3>
                    <h3>Email: <span>{{currUser?.email}}</span></h3>
                </div>
            </div>
        </article>
        <div class="divadded">
            <h1 class="addedorchids" *ngIf="currUser?.orchids">Added Orchids</h1>
            <h1 class="addedorchids" *ngIf="!currUser?.orchids">No orchids added!</h1>
        </div>
    </section>
    <section class="orchids" *ngIf="currUser?.orchids">
        <ng-container *ngFor="let orchid of currUser.orchids | paginate: { itemsPerPage: 5, currentPage: p }">
           <article>
                <ng-container *ngIf="orchid?.imageUrl?.includes('http')">
                    <div class="image" *ngIf="orchid.imageUrl.includes('http')"> 
                        <img *ngIf="orchid.imageUrl.includes('res.cloudinary.com')" src={{orchid.imageUrl}} class="uploadedImage" alt="no-img">
                        <img *ngIf="!orchid.imageUrl.includes('res.cloudinary.com')" src={{orchid.imageUrl}} alt="no-img">
                    </div>
                </ng-container>
                <ng-container *ngIf="!orchid?.imageUrl?.includes('http')">
                    <div class="image" *ngIf="orchid.orchidImages[0].imageUrl.includes('http')"> 
                        <img *ngIf="orchid.orchidImages[0]?.imageUrl.includes('res.cloudinary.com')" src={{orchid.orchidImages[0].imageUrl}} class="uploadedImage" alt="no-img">
                        <img *ngIf="!orchid.orchidImages[0].imageUrl.includes('res.cloudinary.com')" src={{orchid.orchidImages[0]}} alt="no-img">
                    </div>
                </ng-container>
                <div class="info">
                    <h1>{{orchid.make}} {{orchid.type}}</h1>
                    <button [routerLink]="['/orchids', orchid._id]">Details</button>
                </div>
            </article>
        </ng-container>
    </section>
    <div class="lds-ellipsis" *ngIf="isLoading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="pagination" *ngIf="currUser?.orchids && currUser?.orchids.length > 5">
        <pagination-controls class="paginator" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>