<div class="container">
  <ng-container *ngIf="!inEditMode && orchid">
    <div class="title">
      <h1>Details Page</h1>
    </div>

    <article class="orchid">
     
      <div class="image" *ngIf="orchid.imageUrl">
        <img src={{orchid.imageUrl}} alt="no-img" *ngIf="orchid.imageUrl">
      </div>
      <div class="info">
        <span *ngIf="alreadyFavourite" class="added">&check;</span>
        <h1>{{orchid.make}}</h1>
        <hr>
        <h3>Type: <span>{{orchid.type}}</span></h3>
        <h3>Description: <span>{{orchid.description}}</span></h3>
       
        <div class="buttons">
          <button routerLink="/orchids">Back</button>
          <ng-container *ngIf="isAuthor">
            <button (click)="inEditMode = true">Edit</button>
            <button (click)="delete()">Delete</button>
          </ng-container>
          <ng-container *ngIf="!alreadyFavourite">
            <button (click)="addToFavourite()">Add to favourite</button>
          </ng-container>
          <!-- <button id="added" *ngIf="alreadyFavourite">Added to favourites</button> -->
          <button id="remove" *ngIf="alreadyFavourite" (click)="removeFromFavourites()">Remove from
            favourites</button>
        </div>
        <p class="mainError" *ngIf="errors">{{errors}}</p>
      </div>
    </article>
  </ng-container>
  

<ng-container *ngIf="inEditMode && orchid">
        <div class="title">
            <h1>Edit Orchid</h1>
        </div>
        <div class="form">
            <h1 class="h1">Edit Orchid</h1>
            <form #form="ngForm" (ngSubmit)="editOrchid(form, imageUrl)">
                <label class="formTitle">Make</label>
                 <input class="formInput" #make="ngModel" ngModel type="text" name="make" required minlength="3" maxlength="15" [(ngModel)]="orchid.make">
                 <ng-container *ngIf="make.touched">
                    <p class="error" *ngIf="make.errors?.['required']">Make is required!</p>
                    <p class="error" *ngIf="make.errors?.['maxlength']">You cannot add more than 15 characters!</p>
                    <p class="error" *ngIf="make.errors?.['minlength']">You should have at least 3 characters!</p>
                </ng-container>
                <label class="formTitle">Type</label>
                <input class="formInput" #type="ngModel" ngModel type="text" name="type" required minlength="2" maxlength="10" [(ngModel)]="orchid.type">
                <ng-container *ngIf="type.touched">
                    <p class="error" *ngIf="type.errors?.['required']">Name is required!</p>
                    <p class="error" *ngIf="type.errors?.['minlength']">You should have at least 2 characters!</p>
                    <p class="error" *ngIf="type.errors?.['maxlength']">You cannot add more than 10 characters!</p>
                </ng-container>
                <div class="imageurl">
                    <label for="ImageURL">ImageURL</label>
                    <input type="radio" #image value="ImageURL" id="ImageURL" name="image" checked (change)="onChange(image)">
                    <label for="UploadFile" id="upload">UploadFile</label>
                    <input type="radio" #file value="UploadFile" id="UploadFile" name="image" (change)="onChange(file)">
                </div>
                <!-- <ng-container class="fileContainer">
                    <input id="file" #imageUrl ngModel type="file" accept="image/*" multiple name="imageUrl" required>
                </ng-container> -->
                <ng-container class="imageUrlContainer">
                    <input  class="formInput" #imageUrl="ngModel" ngModel id="url" type="text" name="imageUrl"  [(ngModel)]="orchid.imageUrl">
                    <ng-container *ngIf="image.checked">
                        <p class="error" *ngIf="form.value.imageUrl.length < 5">ImageUrl is required!</p>
                        <p class="error" *ngIf="!form.value.imageUrl.includes('http') && form.value.imageUrl.length >= 5">You must give a URL!</p>
                    </ng-container>
                 
                </ng-container>
                <label class="formTitle">Description</label>
                <input class="formInput" #description="ngModel" ngModel type="text" name="description" required minlength="20" maxlength="150" [(ngModel)]="orchid.description">
                <ng-container *ngIf="description.touched">
                    <p class="error" *ngIf="description.errors?.['required']">Description is required!</p>
                    <p class="error" *ngIf="description.errors?.['minlength']">Description should have at least 20
                        characters!</p>
                    <p class="error" *ngIf="description.errors?.['maxlength']">Description shouldn't have more than 150
                        characters!</p>
                </ng-container>
                <p class="mainError" *ngIf="errors">{{errors}}</p>
                <input [disabled]="form.invalid" class="formInput" type="submit" value="Edit Orchid">
            </form>
        </div>
    </ng-container>

  <!-- <div class="lds-ellipsis" *ngIf="isLoading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div> -->
</div>
