<div class="container">
    <ng-container>
        <div class="title">
            <h1 *ngIf="info">My Profile Info</h1>
            <h1 *ngIf="isLoading">Loading...</h1>
        </div>
        <section>
            <article class="userSchema" *ngIf="currUser">
                <img [src]="currUser.avatarImg" class="avatarImg">
                <div class="userSchema" @fadeInOutFast>
                    <h3>Username: <span>{{currUser?.username}}</span></h3>
                    <h3>Email: <span>{{currUser?.email}}</span></h3>
                </div>
            </article>
        </section>
    </ng-container>
    <div class="lds-ellipsis" *ngIf="!info && !currUser">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

</div>