<div class="container">
    <div class="title">
        <h1 *ngIf="orchids?.length > 0">MY ORCHIDS</h1>
        <h1 *ngIf="isEmpty && orchids?.length == 0">NO ORCHIDS ADDED</h1>
        <h1 *ngIf="isLoading">Loading...</h1>
    </div>
    <section *ngIf="orchids">
        <ng-container *ngFor="let orchid of orchids | paginate: { itemsPerPage: 10, currentPage: p }">
            <app-orchid-details-card [orchid]="orchid"></app-orchid-details-card>
        </ng-container>
    </section>
    <div class="lds-ellipsis" *ngIf="isLoading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="pagination" *ngIf="orchids?.length > 10">
        <pagination-controls class="paginator" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
